[Unit]
Description=Baby Virtual Assistant

[Service]
User=__USERNAME__
Environment="XDG_RUNTIME_DIR=/run/user/__ID__"
WorkingDirectory=/usr/lib/baby/
ExecStart=/usr/lib/baby/usr/local/bin/python3 .
# optional items below
Restart=always
RestartSec=3
StandardOutput=append:/tmp/baby.log
StandardError=append:/tmp/baby.log

[Install]
WantedBy=multi-user.target